
/* Donate Sidebar */
.donate-sidebar {
    width: 300px;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 15px;
    position: sticky;
    top: 100px;
    align-self: flex-start;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.donate-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-weight: bold;
    color: var(--primary);
}

 input,
 select {
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* modal form */
.modal {
    display: none; /* Ocultar el modal inicialmente */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#bank-details-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* validate form */
.error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    z-index: 1000;
}

.toast.success {
    background-color: green;
}

.toast.error {
    background-color: red;
}

